<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Online</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>TIENDA ONLINE</h1>
        <p>Importadores de productos electrónicos y bazar en general</p>
        <nav>
            <ul>
                <li><a href="/">Productos disponibles</a></li>
                <li><a href="/realtimeproducts">Agregar/eliminar productos en tiempo real</a></li>
            </ul>
        </nav>
    </header>

    {{{body}}}

</body>
</html>
